# Logs
logs
*.log
*.txt

# sourcemap
*.map

# Dependency directories
node_modules

# EDI
.vscode

# tests
tests
frontend/tests

# configuration
configuration.json

#epigen
base
services
epigen


# build
tmp
build
frontend/lib
frontend/js/client.js
frontend/js/shared.gen.ts

