# Logs
logs
*.log
*.txt

# compiled 
*.js

# sourcemap
*.map

# Dependency directories
node_modules

# Typescript typings
typings
typings.json

# EDI
.vscode

# hosting
openshift

#tests
tests
webapp/tests