# Logs
logs
*.log
*.txt

# sourcemap
*.map

# Dependency directories
node_modules

# Typescript typings
typings
typings.json

# EDI
.vscode

# tests
tests
frontend/tests

# configuration
configuration.json

# build
build
frontend/js/client.js
frontend/js/shared.gen.ts

