* {
	margin: 0;
	padding: 0;
}

body {
    background: white;
    color: black;
    font-family: sans-serif;
}

h1, h2 {
    margin: 1em 2em;
}

#lang {
    float: right;
    font-size: 0.7em;
}

article {
    padding: 1em;
}

.locutor {
    text-align: justify;
}

.interlocutor {
    border: 1px solid #ded;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}

.indication {
    color: dimgrey;
    font-size: 0.8em;
}

#error_display {
    visibility: hidden;
    color: red;
}

#success_display {
    visibility: hidden; 
    color: green;
    text-align: center;
}

#registration_panel {
    visibility: hidden;
}

#captcha {
    text-align: center;
    padding: 10px;
}
.g-recaptcha {
    display: inline-block;
}

@media screen and (max-width:600px) {
    #logo {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }
}

@media screen and (max-width:900px) {

    form {
        border: 1px solid #ded;
        padding: 1em;
        margin: 1em auto;
        text-align: center;
        max-width: 480px;
    }

    form input {
        width: 80%; 
        padding: 1em 1em 1em 1em;
        font-size: 1.1em;
        margin: 0.5em 0;
        border: 1px solid #ded;
        letter-spacing: 1px; 
        text-align: center;
        border-radius: 5px;
        background: none;
    }

    form button {
        color: white;
        padding: 0.7em 0;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        margin-top: 1em;
        text-decoration: none;
        border-radius: 5px;
        border-color: #362 #362 #251;
        box-shadow: inset 0 1px 1px #ae8;
        color: #fff;
        border: 1px solid;
        cursor: pointer;
        background-color: #6a4;
        background: linear-gradient(#7b6, #584);
    }

    form button:disabled {
        background: linear-gradient(#999, #777);
        color: silver;
    }

    form button:hover {
        color: silver;
        background: linear-gradient(#8c6, #695);
        transition: .5s all;
    }

    form button[disabled]:hover {
        background: linear-gradient(#999, #777);
        color: silver;
    }
}


@media screen and (min-width:600px) and (max-width:900px) {
    body {
        background: white url(yh_body_bg.jpg) top center no-repeat;
    }

    form { 
        clear: both;
        max-width: 600px;
     }

    #logo {
        float: left;
    }

    form input {
        background: rgba(255,255,255,0.5);
    }
}

@media screen and (min-width:900px) {
    body {
        background: white url(yh_body_bg.jpg) top center no-repeat;
    }

    header {
        max-width: 1024px;
        margin: 0 auto;
        min-height: 280px;
    }

    #logo {
        float: left;
    }

    section {
        max-width:1024px;
        margin: 0 auto;
    }

   #login_form {
        padding-top: 250px;
        border: none;
        text-align: center;
    }

    form input {
        padding: 0.2em 1em ;
        font-size: 1.1em;
        border: 1px solid #ae8;
        text-align: center;
        border-radius: 5px;
    /*    background: linear-gradient(#ae9, #ded); */
        background: rgba(220,255,220,0.5);
        display: block;
        margin: 2px auto;
    }

    form button {
        padding: 0.2em 1em;
        font-size: 1.1em;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border-color: #362 #362 #251;
        box-shadow: inset 0 1px 1px #ae8;
        color: #fff;
        border: 1px solid;
        cursor: pointer;
        background-color: #6a4;
        background: linear-gradient(#7b6, #584);
    }

    form button:disabled {
        background: linear-gradient(#999, #777);
        color: silver;
    }

    form button:hover {
        color: silver;
        background: linear-gradient(#8c6, #695);
        transition: .5s all;
    }

    form button[disabled]:hover {
        background: linear-gradient(#999, #777);
        color: silver;
    }

}


